body
{
	background-color: #F8F8FF;
}

table
{
    border-collapse: collapse;
}

table, tr, th, td
{
	border: 1px solid black;
}

tr:nth-child(odd) td:nth-child(odd)
{
	background: lightgrey;
}

tr:nth-child(even) td:nth-child(even)
{
	background: lightgrey;
}
